{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XOXO Club</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo-section">
            <img src="{% static 'image/logo.png' %}" alt="XOXO Club">
            <div class="title">TIENDA DEPORTIVA XOXO</div>
        </div>
        <div>
            <a href="{% url 'interfaz' %}"><img src="{% static 'image/icon.png' %}" alt="Icono">Registrarse/Iniciar sesión</a>
        </div>
    </div>

    <div class="logo">
        <img src="{% static 'image/logo.png' %}" alt="XOXO Club Logo">
    </div>

    <div class="container">
        {% for producto in productos %}
        <div class="item">
            <h2>{{ producto.valor }}$</h2>
            <p>{{ producto.nombreProducto }}</p>
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombreProducto }}">
            <button>Comprar</button>
        </div>
        {% empty %}
        <p>No stock actualmente. ¡Vuelve en otro momento para más novedades!</p>    
        {% endfor %}

        <!--<div class="item">
            <h2>25$</h2>
            <p>Camisas Deportivas</p>
            <img src="{% static 'image/camisa.png' %}" alt="Camisas Deportivas">
            <img src="{% static 'image/cr7.png' %}" alt="Camisas Deportivas">
            <button>Comprar</button>
        </div>
        <div class="item">
            <h2>80$</h2>
            <p>Pupos</p>
            <img src="{% static 'image/puposrojos.png' %}" alt="Pupos">
            <img src="{% static 'image/messi.png' %}" alt="Pupos">
            <button>Comprar</button>
        </div>
        <div class="item">
            <h2>5$</h2>
            <p>Medias</p>
            <img src="{% static 'image/nike.png' %}" alt="Medias">
            <img src="{% static 'image/adidas.png' %}" alt="Medias">
            <button>Comprar</button>
        </div>-->

    </div>

</body>
</html>
